<html>
    <head>
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Student Indicator Performance</title>
    </head>
<body>
    <div class="login bg-black min-h-screen text-white">
       <h1 class="text-center text-4xl pt-12 font-serif">Student Exam Performance Indicator</h1>
   
       <form class="flex flex-col items-center mt-16" action="{{ url_for('predict_datapoint')}}" method="post">
       
        <div class="mb-3 text-black flex space-x-6">
            <label class="form-label text-white">Gender</label>
            <select class="form-control w-80 focus:outline-0  h-8 text-black" name="gender" placeholder="Enter you Gender" required>
                <option class="placeholder" class="text-black">Select your Gender</option>
                <option value="male">
                    Male
                </option>
                <option value="female">
                    Female
                </option>
            </select>
        </div>
        <div class="mb-3 ">
            <label class="form-label pr-6 pl-7">Race or Ethnicity</label>
            <select class="form-control w-80 focus:outline-0 mr-24 h-8 text-black" name="ethnicity" placeholder="Enter you ethnicity" required>
                <option class="placeholder" selected disabled value="">Select Ethnicity</option>
                <option value="group A">
                    Group A
                </option>
                <option value="group B">
                    Group B
                </option>
                <option value="group C">
                    Group C
                </option>
                <option value="group D">
                    Group D
                </option>
                <option value="group E">
                    Group E
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label pr-6 pl-">Parental Level of Education</label>
            <select class="form-control w-80 focus:outline-0 mr-24 h-8 text-black mr-36 " name="parental_level_of_education"
                placeholder="Enter you Parent Education" required>
                <option class="placeholder" selected disabled value="">Select Parent Education</option>
                <option value="associate's degree">
                    associate's degree
                </option>
                <option value="bachelor's degree">
                    bachelor's degree
                </option>
                <option value="high school">
                    high school
                </option>
                <option value="master's degree">
                    master's degree
                </option>
                <option value="some college">
                    some college
                </option>
                <option value="some high school">
                    some high school
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label pr-6 pl-28">Lunch Type</label>
            <select class="form-control focus:outline-0 w-80 mr-24 h-8 text-black mr-36 " name="lunch" placeholder="Enter you Lunch" required>
                <option class="placeholder" selected disabled value="">Select Lunch Type</option>
                <option value="free/reduced">
                    free/reduced
                </option>
                <option value="standard">
                    standard
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label pr-6 pl-6">Test preparation Course</label>
            <select class="form-control focus:outline-0 w-80 mr-24 h-8 text-black mr-36" name="test_preparation_course" placeholder="Enter you Course"
                required>
                <option class="placeholder" selected disabled value="">Select Test_course</option>
                <option value="none">
                    None
                </option>
                <option value="completed">
                    Completed
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label pr-6 pl-4">Writing Score out of 100</label>
            <input class="form-control focus:outline-0 px-2 w-80 mr-24 h-8 text-black mr-36" type="number" name="reading_score"
                placeholder="Enter your Reading score" min='0' max='100' />
        </div>
        <div class="mb-3">
            <label class="form-label pr-6 pl-3">Reading Score out of 100</label>
            <input class="form-control focus:outline-0 px-2 w-80 mr-24 h-8 text-black mr-36" type="number" name="writing_score"
                placeholder="Enter your Reading Score" min='0' max='100' />
        </div>
        <div class="my-8 mr-24">
            <input class="btn btn-primary cursor-pointer bg-white text-black rounded-xl px-6 py-2" type="submit" value="Predict your Maths Score" required />
        </div>
    </form>
    <h2 class="text-center mr-24 text-3xl">
       The Prediction of your Math Score is {{results}}
    </h2>
   <body>
</html>