<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <div class="bg-black min-h-screen text-white pt-6 pl-8">
        <h1 class="text-5xl mb-8"> Welcome to the student Performance Indicator</h1>
    <a class="text-xl bg-white text-black px-4 py-2 font-semibold rounded-xl " href="/predictdata">Check The Student Performance</a>
    </div>
</body>
</html>